<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="map_file" default="$(find ebot_nav)/maps/task2.yaml" />

  <!--including the launch file with a navigation world-->
  <!-- <include file="$(find ebot_description)/launch/task2.launch" /> -->
  <!-- including launch file for localization using AMCL -->
  <include file="$(find ebot_nav)/launch/amcl.launch" />
   <!-- including launch file for visualizing in rviz -->
  <include file="$(find ebot_description)/launch/ebot_visualize.launch"/>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />

  <include file="$(find ebot_nav)/launch/move_base.launch"/>
</launch>
